<% layout('../layouts/boilerplate') %>

    <body>
        <br>
        <div class="row">
            <div class="col-8 offset-2">
                <h3>Edit your listing</h3>
                <form method="POST" action="/listings/<%= listing._id %>?_method=PUT" class="needs-validation" novalidate enctype="multipart/form-data">
                    <div class="mb-3">
                        <label for="title" class="form-label">Title</label>
                        <input type="text" class="form-control" name="listing[title]" value="<%= listing.title %>" required/>
                        <div class="invalid-feedback">Please enter a title</div>
                        <div class="valid-feedback">Looks good!</div>
                    </div>
                    <div class="mb-3">
                        <label for="desc" class="form-label">Description</label>
                        <textarea class="form-control" name="listing[desc]" required ><%= listing.desc %></textarea>
                        <div class="invalid-feedback">Please enter a shot description</div>
                    </div>

                    <div class="col-6">
                        <p>Original image preview</p>
                        <img src="<%= originalImageUrl %>" alt="listing img">
                        <hr>
                    </div>

                    <div class="mb-3">
                        <label for="image" class="form-label">Upload new image</label>
                        <input type="file" class="form-control" name="listing[image]" value="<%= listing.image %>"/>
                        <div class="invalid-feedback">Please add</div>
                    </div>
                    <div class="row">
                        <div class="mb-3 col-md-4">
                            <label for="price" class="form-label">Price</label>
                            <input type="number" class="form-control" name="listing[price]"
                                value="<%= listing.price %>" required />
                                <div class="invalid-feedback">Please add price</div>
                            </div>
                        <div class="mb-3 col-md-8">
                            <label for="country" class="form-label">Country</label>
                            <input type="text" class="form-control" name="listing[country]"
                                value="<%= listing.country %>" required />
                                <div class="invalid-feedback">Type Country</div>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label for="location" class="form-label">Location</label>
                        <input type="text" class="form-control" name="listing[location]"
                            value="<%= listing.location %>" required />
                            <div class="invalid-feedback">Please type your location</div>   
                        </div>
                    <button type="submit" class="btn btn-dark add-btn">Update</button>
                </form>
            </div>
        </div>
        <br><br>
    </body>

    </html>